{% extends "video-template.html" %}
{% block page_name %}Test{% endblock %}


{% block form_input %}
<input type="hidden" name="answer" value="22">
{% endblock %}
{% block form_button %}
<button id="button" type="submit" class="nextButton" style="float: left; position: absolute;">
    Next
</button>
{% endblock %}


{% block script %}
<script>

var video = document.getElementById("videoStreamElement");
var videoCanvas = document.getElementById("detectionCanvas");
var videoLabelCanvas = document.getElementById("detectionLabelCanvas");

var button = document.getElementById("button");
var subheadingR = document.getElementsByClassName("subheading")[0];

    let language = '{{ language }}';
    console.log("LANGUAGE" + language);

    var subcontentString = "";
    var nextButtonString = "";

    switch (language){
        case "en":
        console.log("LANGUAGE IS ENGLISH HIHI");
        subcontentString = "Move the toy away from its position and test what happens."
        nextButtonString = "Next";
        detection_str_a = "No ";
        detection_str_b = " detected";
        detection_str_c = "";
        detection_str_d = " detected";
        break; 
        case "de":
        console.log("LANGUAGE IS GERMAN HIHI");
        subcontentString = "Bewege dein Obkejt"
        nextButtonString = "Weiter"
        break;
        case "rus":
        console.log("LANGUAGE IS RUSSIAN HIHI");
        subcontentString = "russian"
        nextButtonString = "rus"
        break;
        case "pol":
        console.log("LANGUAGE IS POLISH HIHI");
        subcontentString = "Przesuń zabawkę w inne miejsce i zobacz co się stanie."
        nextButtonString = "Następny";
        detection_str_a = "Nie wykryto ";
        detection_str_b = "";
        detection_str_c = "Wykryto ";
        detection_str_d = "";
        break;
    }
    
    subheadingR.innerHTML = subcontentString;
    button.innerHTML = nextButtonString;

video.addEventListener("play", detectObject);

function detectObject(){
video._updateInterval = setInterval(() => {
    hiddenCanvas.getContext('2d').drawImage(video, 0, 0, 450, 450);
        let imgURL = hiddenCanvas.toDataURL('image/jpg', 1);
        fetchText("detect", {"image":imgURL})
    }, 1000);
}

let fetch_from_url = '/testFetch';

async function fetchText(type, msg){
  
    fetch(fetch_from_url, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
                
        body: JSON.stringify({"requestType":type, "requestMsg":msg})
            
    }).then(function(response) {
            
        return response.json();
            
    }).then(response => {
        response_type = response.responseType;
        response_msg = response.responseMsg

        logging("RESPONSE RECEIVED", response);

        x = response_msg.x;
        y = response_msg.y;
        x_old = response_msg.x_old;
        y_old = response_msg.y_old;
        confidence = response_msg.custom_detection_confidence;
        customDet = response_msg.custom_detection_name
        firstDet = response_msg.firstDet
        label = response_msg.userInput
        language = response_msg.language

        percentage = Math.trunc(confidence*100)
        
        if (percentage > 100){
            percentage = 100;
        }

        labelText = label + " " + percentage + " %";  
        
        if (response_type == "sven_model_test"){
            drawOnCanvas(labelText, x, y);
            return response_msg;
        }

        x_diff = Math.abs(x_old-x)
        y_diff = Math.abs(y_old-y)

        if (customDet == firstDet){

            if (x_diff > 50 || y_diff > 50) { 
      
            videoCanvas.classList.add('notDetectedObject');
            videoCanvas.classList.remove('detectedObject');
            videoLabelCanvas.classList.add('notDetectedLabelCanvas');
            videoLabelCanvas.classList.remove('detectedLabelCanvas'); 
            videoLabelCanvas.innerHTML = detection_str_a + label + detection_str_b;

            console.log("OBJECT MOVED") //TODO: LOG THE MOVEMENT?
            
            removeFromCanvas();

                } else {
                    drawOnCanvas(labelText, x, y);
                    videoCanvas.classList.add('detectedObject');
                    videoCanvas.classList.remove('notDetectedObject'); 
                    videoLabelCanvas.classList.add('detectedLabelCanvas');
                    videoLabelCanvas.classList.remove('notDetectedLabelCanvas');  
                    videoLabelCanvas.innerHTML = detection_str_c + label + detection_str_d;
                }
            }
            else  if (customDet != firstDet) {
                videoCanvas.classList.add('notDetectedObject');
                videoCanvas.classList.remove('detectedObject');  
                videoLabelCanvas.classList.add('notDetectedLabelCanvas');
                videoLabelCanvas.classList.remove('detectedLabelCanvas'); 
                videoLabelCanvas.innerHTML = detection_str_a + label + detection_str_b;
                removeFromCanvas(); 
            }

            return response_msg;


    })
        .catch(error => {
        console.log(error);
    });

}


function drawOnCanvas(labelText, x, y){

    x = x-48
    y = y-100

    console.log(document.getElementById("DetectionText"))
        
    if (document.getElementById("DetectionText") == null){
        var svgNS = "http://www.w3.org/2000/svg";

        // LABEL AND CONFIDENCE
        var newText = document.createElementNS(svgNS,"text");
        newText.setAttributeNS(null,"x",x);     
        newText.setAttributeNS(null,"y",y);
        newText.setAttributeNS(null,"fill","#000000"); 
        newText.setAttributeNS(null,"font-size","28");
        newText.setAttributeNS(null,"id","DetectionText"); 

        // BORDER
        var newRect = document.createElementNS(svgNS,"rect");
        newRect.setAttributeNS(null,"x",x-8);     
        newRect.setAttributeNS(null,"y",y);
        newRect.setAttributeNS(null,"width","220"); 
        newRect.setAttributeNS(null,"height","220"); 
        newRect.setAttributeNS(null,"fill-opacity","0");
        newRect.setAttributeNS(null,"stroke","#FFFFFF");
        newRect.setAttributeNS(null,"stroke-width","3");
        newRect.setAttributeNS(null, "stroke-dasharray", "0,220,440" );    
        newRect.setAttributeNS(null,"id","DetectionRect");

        // BORDER
        var newRect2 = document.createElementNS(svgNS,"rect");
        newRect2.setAttributeNS(null,"x",x-8);     
        newRect2.setAttributeNS(null,"y",y-44);
        newRect2.setAttributeNS(null,"width","220"); 
        newRect2.setAttributeNS(null,"height","50"); 
        newRect2.setAttributeNS(null,"fill","#FFFFFF");
        newRect2.setAttributeNS(null,"stroke","#FFFFFF");
        newRect2.setAttributeNS(null,"stroke-width","3"); 
        newRect2.setAttributeNS(null,"id","DetectionRect2");
        

        var textNode = document.createTextNode(labelText);
        newText.appendChild(textNode);
        document.getElementById("videoStreamSVG").appendChild(newRect2);
        document.getElementById("videoStreamSVG").appendChild(newText);
        document.getElementById("videoStreamSVG").appendChild(newRect);
        
    } else {
        var newText = document.getElementById("DetectionText");
        newText.setAttributeNS(null,"x",x);     
        newText.setAttributeNS(null,"y",y); 
        newText.innerHTML = labelText;

        var newRect = document.getElementById("DetectionRect");
        newRect.setAttributeNS(null,"x",x-8);     
        newRect.setAttributeNS(null,"y",y); 

        var newRect2 = document.getElementById("DetectionRect2");
        newRect2.setAttributeNS(null,"x",x-8);     
        newRect2.setAttributeNS(null,"y",y-44); 
    }
}

function removeFromCanvas(){
    if (document.getElementById("DetectionText") != null){
        var newText = document.getElementById("DetectionText");
        document.getElementById("videoStreamSVG").removeChild(newText)

        var newRect = document.getElementById("DetectionRect");
        document.getElementById("videoStreamSVG").removeChild(newRect)

        var newRect2 = document.getElementById("DetectionRect2");
        document.getElementById("videoStreamSVG").removeChild(newRect2)
};
}

</script>
{% endblock %}




