{% extends "video-template.html" %}
{% block page_name %}23{% endblock %}

{% block form_input %}
<input type="hidden" name="answer" value="26">
{% endblock %}

{% block form_button %}
<button id="button" type="submit" class="btn btn-light nextButton" style="display: none;">
    Next
</button>
{% endblock %}


{% block row1col1 %}
<div id="imagesDiversified" class="justify-content-center row" style="margin-top: 80px; margin-left: 40px;">
    <div style="margin-right: 60px;" id="original_image">
            <img id="img1" style="display: none; width: 300px;">
    </div>
    <div id="image_stack_div" style="width: 500px; height:160px; margin-left: 60px; padding-left: 40px;" class="content-justify-center"> 
        <img id="img2" class="positionsImgCrop" style="display: none; width: 300px; position: sticky; margin-bottom: -320px;">        
        <img id="img3" class="positionsImgCrop" style="display: none; width: 300px; position: relative; margin-left: 30px; margin-bottom: -340px;">
        <img id="img4" class="positionsImgCrop" style="display: none; width: 300px; position: inherit; margin-left: 60px; margin-bottom: -280px;">
        <img id="img5" class="positionsImgCrop" style="display: none; width: 300px; position: absolute; margin-left: 90px; margin-bottom: -310;">
        <img id="img6" class="positionsImgCrop" style="display: none; width: 300px; position: inherit; margin-left: 80px; margin-bottom: -290px;">
        <img id="img7" class="positionsImgCrop" style="display: none; width: 300px; position: absolute; margin-left: 120px; margin-bottom: -330px;">
        <img id="img8" class="positionsImgCrop" style="display: none; width: 300px; position: relative; margin-left: 80px; margin-bottom: -300px;">
        <img id="img9" class="positionsImgCrop" style="display: none; width: 300px; position: relative; margin-left: 20px; margin-bottom: -270px;">
        <img id="img10" class="positionsImgCrop" style="display: none; width: 300px; position: relative; margin-left: 60px; margin-bottom: -250px;">
        <img id="img11" class="positionsImgCrop" style="display: none; width: 300px; position: relative; margin-left: 70px; margin-bottom: -320px;">
        <img id="img12" class="positionsImgCrop" style="display: none; width: 300px; position: relative; margin-left: 30px; margin-bottom: -390px;">
        <img id="img13" class="positionsImgCrop" style="display: none; width: 300px; position: relative; margin-left: 70px; margin-bottom: -230px;">
        <img id="img14" class="positionsImgCrop" style="display: none; width: 300px; position: relative; margin-left: 40px; margin-bottom: -320px;">
        <img id="img15" class="positionsImgCrop" style="display: none; width: 300px; position: relative; margin-left: 50px; margin-bottom: -320px;">
        <img id="img16" class="positionsImgCrop" style="display: none; width: 300px; position: relative; margin-left: 80px; margin-bottom: -280px;">
        <img id="img17" class="positionsImgCrop" style="display: none; width: 300px; position: relative; margin-left: 110px; margin-bottom: -290px;">
        <img id="img18" class="positionsImgCrop" style="display: none; width: 300px; position: relative; margin-left: 90px; margin-bottom: -270px;">
        <img id="img19" class="positionsImgCrop" style="display: none; width: 300px; position: relative; margin-left: 60px; margin-bottom: -310px;">
        <img id="img20" class="positionsImgCrop" style="display: none; width: 300px; position: relative; margin-left: 40px; margin-bottom: -320px;">
    </div>
</div>
<div class="justify-content-center row" style="margin-top: 80px;">
    <h2 id="your_image" style="width: 360px; text-align: center;"></h2>
    <img id="imgDone" style="display: none; width: 160px;" src="../static/check.png"> 
    <h2 id="new_images" style="width: 560px; text-align: center; padding-left: 160px;"></h2>
</div>
<div id="loader_div" class="justify-content-center row">
    <div id="loader" class="loader" style="position: absolute;"></div>
</div>

{% endblock %}


{% block script %}
<script>
var heading = document.getElementById("heading");

let fetch_from_url = '/testFetch';

var video = document.getElementById("videoStreamElement")
var text = document.getElementById("text");

var camera = document.getElementById("camera");

camera.style.display = "none";

var block = document.getElementById("block");


async function fetchText(type, msg){
  
    fetch(fetch_from_url, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
                
        body: JSON.stringify({"requestType":type, "requestMsg":msg})
            
    }).then(function(response) {
            
        return response.json();
            
    }).then(response => {
        response_type = response.responseType;
        response_msg = response.responseMsg

        logging("RESPONSE RECEIVED", response);


        if (response_type == "detection"){

            x = response_msg.x;
            y = response_msg.y;
            x_old = response_msg.x_old;
            y_old = response_msg.y_old;
            confidence = response_msg.confidence;
            label = response_msg.userInput
            language = response_msg.language
            percentage = Math.trunc(confidence*100)
            
            if (percentage > 100){
                percentage = 100;
            }

            labelText = label + " " + percentage + " %";  


        } else if (response_type == "diversified_images_rotation"){
            console.log("DIVERSIFIED IMAGES RECEIVED")

            updateImages(response_msg);               
    
        }  
        return response_msg

    })
        .catch(error => {
        console.log(error);
    });

}

function diversifyImage(){   
    fetchText("calculate", {"type":"rotations", "fileName":"image_capture.jpg"});
}

diversifyImage();

    var og_image_div = document.getElementById("original_image");

    // DIVERSIFIED IMAGES+
    var imgDone = document.getElementById("imgDone");
    var img1 = document.getElementById("img1");
    var img2 = document.getElementById("img2");
    var img3 = document.getElementById("img3");
    var img4 = document.getElementById("img4");
    var img5 = document.getElementById("img5");
    var img6 = document.getElementById("img6");
    var img7 = document.getElementById("img7");
    var img8 = document.getElementById("img8");
    var img9 = document.getElementById("img9");
    var img10 = document.getElementById("img10");
    var img11 = document.getElementById("img11");
    var img12 = document.getElementById("img12");
    var img13 = document.getElementById("img13");
    var img14 = document.getElementById("img14");
    var img15 = document.getElementById("img15");
    var img16 = document.getElementById("img16");
    var img17 = document.getElementById("img17");
    var img18 = document.getElementById("img18");
    var img19 = document.getElementById("img19");
    var img20 = document.getElementById("img20");

    var imagesDiversified= document.getElementById("imagesDiversified");
    var button = document.getElementById("button");
    var loader = document.getElementById("loader");
    var loader_div = document.getElementById("loader_div");
    var your_image = document.getElementById("your_image");
    var new_images = document.getElementById("new_images");
    var image_stack_div = document.getElementById("image_stack_div");

    async function updateImages(imageArray){

        img1.style.display = "block";
        img1.src = "data:image/png;base64," +  imageArray[0];

        img2.style.display = "block";
        img2.src = "data:image/png;base64," +  imageArray[1];

        await new Promise(resolve => setTimeout(resolve, 500));

        img3.style.display = "block";
        img3.src = "data:image/png;base64," +  imageArray[2];

        await new Promise(resolve => setTimeout(resolve, 600));

        img4.style.display = "block";
        img4.src = "data:image/png;base64," +  imageArray[3];

        await new Promise(resolve => setTimeout(resolve, 500));

        img5.style.display = "block";
        img5.src = "data:image/png;base64," +  imageArray[4];

        await new Promise(resolve => setTimeout(resolve, 600));

        img6.style.display = "block";
        img6.src = "data:image/png;base64," +  imageArray[5];

        await new Promise(resolve => setTimeout(resolve, 500));

        img7.style.display = "block";
        img7.src = "data:image/png;base64," +  imageArray[6];

        img8.style.display = "block";
        img8.src = "data:image/png;base64," +  imageArray[7];

        await new Promise(resolve => setTimeout(resolve, 500));

        img9.style.display = "block";
        img9.src = "data:image/png;base64," +  imageArray[8];

        await new Promise(resolve => setTimeout(resolve, 500));

        img10.style.display = "block";
        img10.src = "data:image/png;base64," +  imageArray[9];

        await new Promise(resolve => setTimeout(resolve, 500));

        img11.style.display = "block";
        img11.src = "data:image/png;base64," +  imageArray[10];

        await new Promise(resolve => setTimeout(resolve, 500));

        img12.style.display = "block";
        img12.src = "data:image/png;base64," +  imageArray[11];

        await new Promise(resolve => setTimeout(resolve, 500));

        img13.style.display = "block";
        img13.src = "data:image/png;base64," +  imageArray[12];

        img14.style.display = "block";
        img14.src = "data:image/png;base64," +  imageArray[13];

        await new Promise(resolve => setTimeout(resolve, 600));

        img15.style.display = "block";
        img15.src = "data:image/png;base64," +  imageArray[14];

        await new Promise(resolve => setTimeout(resolve, 600));

        img16.style.display = "block";
        img16.src = "data:image/png;base64," +  imageArray[15];

        await new Promise(resolve => setTimeout(resolve, 600));

        img17.style.display = "block";
        img17.src = "data:image/png;base64," +  imageArray[16];

        await new Promise(resolve => setTimeout(resolve, 600));

        img18.style.display = "block";
        img18.src = "data:image/png;base64," +  imageArray[17];

        await new Promise(resolve => setTimeout(resolve, 600));

        img19.style.display = "block";
        img19.src = "data:image/png;base64," +  imageArray[18];

        await new Promise(resolve => setTimeout(resolve, 600));

        img20.style.display = "block";
        img20.src = "data:image/png;base64," +  imageArray[19];

        await new Promise(resolve => setTimeout(resolve, 500));

        heading.innerHTML = switchString;
        og_image_div.style.display = "none";
        your_image.style.display = "none";
        new_images.style.display = "none";
        loader_div.style.paddingTop = "180px";

        img20.style.display = "none";
        await new Promise(resolve => setTimeout(resolve, 500));
        img19.style.display = "none";
        await new Promise(resolve => setTimeout(resolve, 500));
        img18.style.display = "none";
        await new Promise(resolve => setTimeout(resolve, 500));
        img17.style.display = "none";
        await new Promise(resolve => setTimeout(resolve, 500));
        img16.style.display = "none";
        await new Promise(resolve => setTimeout(resolve, 500));
        img15.style.display = "none";
        await new Promise(resolve => setTimeout(resolve, 500));
        img14.style.display = "none";
        await new Promise(resolve => setTimeout(resolve, 500));
        img13.style.display = "none";
        await new Promise(resolve => setTimeout(resolve, 500));
        img12.style.display = "none";
        await new Promise(resolve => setTimeout(resolve, 500));
        img11.style.display = "none";
        await new Promise(resolve => setTimeout(resolve, 500));
        img10.style.display = "none";
        await new Promise(resolve => setTimeout(resolve, 500));
        img9.style.display = "none";
        await new Promise(resolve => setTimeout(resolve, 500));
        img8.style.display = "none";
        await new Promise(resolve => setTimeout(resolve, 500));
        img7.style.display = "none";
        await new Promise(resolve => setTimeout(resolve, 500));
        img6.style.display = "none";
        await new Promise(resolve => setTimeout(resolve, 500));
        img5.style.display = "none";
        await new Promise(resolve => setTimeout(resolve, 500));
        img4.style.display = "none";
        await new Promise(resolve => setTimeout(resolve, 500));
        img3.style.display = "none";
        await new Promise(resolve => setTimeout(resolve, 500));
        img2.style.display = "none";
        await new Promise(resolve => setTimeout(resolve, 500));
        imgDone.style.display = "block";

        image_stack_div.style.display = "none";

        loader.style.display = "none";
        button.style.display = "block";
    }

    let language = '{{ language }}';
    console.log("LANGUAGE" + language);

    var headcontent= "";
    var buttonText = "";
    var lable_left = "";
    var lable_right = "";

    switch (language){
        case "en":
            console.log("LANGUAGE IS ENGLISH HIHI");
            headcontent = "Creating Images"
            switchString = "Learning new Rotations"
            lable_right = "My Images";
            lable_left = "Your original image";
            buttonText = "Next";
            break; 
        case "de":
            console.log("LANGUAGE IS GERMAN HIHI");
            headcontent = "Hey, ich bin YVES!"
            buttonText = "Weiter";
            break;
        case "rus":
            console.log("LANGUAGE IS RUSSIAN HIHI");
            headcontent = "russian";
            buttonText = "russian";
            break;
        case "pol":
            console.log("LANGUAGE IS POLISH HIHI");
            headcontent = "Tworzenie obrazów";
            switchString = "Uczenie się obracania";
            lable_right = "Twoje oryginalne zdjęcie";
            lable_left = "Moje obrazy";
            buttonText = "Następny";
            break;
    }

    heading.innerHTML = headcontent;
    button.innerHTML = buttonText;
    your_image.innerHTML = lable_left;
    new_images.innerHTML = lable_right;

</script>
{% endblock %}

