{% extends "video-template.html" %}
{% block page_name %}28{% endblock %}


{% block position_button %}

<button id="Perspective" class="btn btn-outline-light buttonStyleNoHover" style="display: block; width: 280px;">
    {% block button_text1 %}
    {% endblock %}
    <img src="../static/CheckMarkLight.svg" style="height: 32px; width: 32px; margin-left:16px">
</button>

{% endblock %}

{% block rotation_button %}
<button id="Rotation" class="btn btn-outline-light buttonStyleNoHover" style="display: block; width: 280px;">
    {% block button_text2 %}
    {% endblock %}
    <img src="../static/CheckMarkLight.svg" style="height: 32px; width: 32px; margin-left:16px">
</button>
{% endblock %}

{% block perspective_button %}  


    <form action="{{ url_for('handle_forms') }}" method="post">
        <p>
            <input type="hidden" name="answer" value="29">
        </p>
        <p>
            <button id="Scale" type="submit" class="btn btn-light buttonStyle" style="display: block; width: 280px;">
                {% block button_text3 %}
                {% endblock %}
                <img src="../static/CheckMark.svg" hidden style="height: 32px; width: 32px"></button>
        </p>
    </form>


{% endblock %}



{% block script %}
<script>
var heading = document.getElementById("heading");
heading.style.display = "none";

let fetch_from_url = '/testFetch';

var video = document.getElementById("videoStreamElement")
var text = document.getElementById("text");

video.addEventListener("play", detectObject);

function detectObject(){
video._updateInterval = setInterval(() => {
    hiddenCanvas.getContext('2d').drawImage(video, 0, 0, 450, 450);
        let imgURL = hiddenCanvas.toDataURL('image/jpg', 1);
        fetchText("detect", {"image":imgURL}) //TODO: USE DIFFERENT DETECTION MODEL HERE, SEND EXTRA PARAMETER FOR IDENTIFICATION
    }, 1000);
}

async function fetchText(type, msg){
  
    fetch(fetch_from_url, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
                
        body: JSON.stringify({"requestType":type, "requestMsg":msg})
            
    }).then(function(response) {
            
        return response.json();
            
    }).then(response => {
        response_type = response.responseType;
        response_msg = response.responseMsg

        logging("RESPONSE RECEIVED", response);

        x = response_msg.x;
        y = response_msg.y;
        
        custom_model_confidence = response_msg.custom_detection_confidence;
        userInput = response_msg.userInput;
        language = response_msg.language;
        first_detection = response_msg.firstDet;
        custom_detection_name = response_msg.custom_detection_name;
        percentage = Math.trunc(custom_model_confidence*100);

        rect = response_msg.rectangle;
        y1 = rect[0];
        x1 = rect[1];
        y2 = rect[2];
        x2 = rect[3];
        console.log(first_detection, custom_detection_name)

      
        if (first_detection == custom_detection_name){
            if (percentage > 100){
                percentage = 100;
            } 

            labelText = userInput + " " + percentage + " %"; 
        
 
                drawOnCanvas(labelText, x, y);
        
        } else {
                removeFromCanvas();
        }

                
        return response_msg

    })
        .catch(error => {
        console.log(error);
    });

}


function drawOnCanvas(labelText, x, y){

    x = x-48
    y = y-100

    console.log(document.getElementById("DetectionText"))
        
    if (document.getElementById("DetectionText") == null){
        var svgNS = "http://www.w3.org/2000/svg";

        // LABEL AND CONFIDENCE
        var newText = document.createElementNS(svgNS,"text");
        newText.setAttributeNS(null,"x",x);     
        newText.setAttributeNS(null,"y",y);
        newText.setAttributeNS(null,"fill","#000000"); 
        newText.setAttributeNS(null,"font-size","28");
        newText.setAttributeNS(null,"id","DetectionText"); 

        // BORDER
        var newRect = document.createElementNS(svgNS,"rect");
        newRect.setAttributeNS(null,"x",x-8);     
        newRect.setAttributeNS(null,"y",y);
        newRect.setAttributeNS(null,"width","220"); 
        newRect.setAttributeNS(null,"height","220"); 
        newRect.setAttributeNS(null,"fill-opacity","0");
        newRect.setAttributeNS(null,"stroke","#FFFFFF");
        newRect.setAttributeNS(null,"stroke-width","3");
        newRect.setAttributeNS(null, "stroke-dasharray", "0,220,440" );    
        newRect.setAttributeNS(null,"id","DetectionRect");

        // BORDER
        var newRect2 = document.createElementNS(svgNS,"rect");
        newRect2.setAttributeNS(null,"x",x-8);     
        newRect2.setAttributeNS(null,"y",y-44);
        newRect2.setAttributeNS(null,"width","220"); 
        newRect2.setAttributeNS(null,"height","50"); 
        newRect2.setAttributeNS(null,"fill","#FFFFFF");
        newRect2.setAttributeNS(null,"stroke","#FFFFFF");
        newRect2.setAttributeNS(null,"stroke-width","3"); 
        newRect2.setAttributeNS(null,"id","DetectionRect2");
        

        var textNode = document.createTextNode(labelText);
        newText.appendChild(textNode);
        document.getElementById("videoStreamSVG").appendChild(newRect2);
        document.getElementById("videoStreamSVG").appendChild(newText);
        document.getElementById("videoStreamSVG").appendChild(newRect);
        
    } else {
        var newText = document.getElementById("DetectionText");
        newText.setAttributeNS(null,"x",x);     
        newText.setAttributeNS(null,"y",y); 
        newText.innerHTML = labelText;

        var newRect = document.getElementById("DetectionRect");
        newRect.setAttributeNS(null,"x",x-8);     
        newRect.setAttributeNS(null,"y",y); 

        var newRect2 = document.getElementById("DetectionRect2");
        newRect2.setAttributeNS(null,"x",x-8);     
        newRect2.setAttributeNS(null,"y",y-44); 
    }
}


function removeFromCanvas(){
    if (document.getElementById("DetectionText") != null){
        var newText = document.getElementById("DetectionText");
        document.getElementById("videoStreamSVG").removeChild(newText)

        var newRect = document.getElementById("DetectionRect");
        document.getElementById("videoStreamSVG").removeChild(newRect)

        var newRect2 = document.getElementById("DetectionRect2");
        document.getElementById("videoStreamSVG").removeChild(newRect2)
};
}

</script>
{% endblock %}
