{% extends "base.html" %}
{% block page_name %}Consent Form for Questionnaire
{% endblock %}

{% block script %}

{% block row2 %}

<div id="cta" class="column d-flex justify-content-center">
    <form action="{{ url_for('questionnaire1') }}" method="post">
        <p>
            <input type="hidden" name="answer" value="End">
        </p>
        <p>
            <button id="noButton" type="submit" class="btn btn-outline-light"
            style="
            border-color: #F8D154;
            color: #F8D154;
            background-color: #3F3F3F;                 
            padding: 16px 24px;
            font-size: 24px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            box-shadow: 0px 4px 4px rgb(0 0 0 / 75%);">
            </button>
        </p>
    </form>
    <div style="width: 24px;"></div>
    <form action="{{ url_for('questionnaire1') }}" method="post">
        <p>
            <input type="hidden" name="answer" value="0">
        </p>
        <p>
            <button id="yesButton" type="submit" class="btn btn-light nextButton" style="width: 230px;">
            </button>
        </p>
    </form>
</div>
{% endblock %}

<script>

let subheading = document.getElementById('subheading');
let heading = document.getElementById('heading');
let keyboard = document.getElementById('keyboard');
let yesButton = document.getElementById('yesButton');
let noButton  = document.getElementById('noButton');

let language = '{{ language }}';
    console.log("LANGUAGE" + language);

    var headcontent = "";
    var subcontent = "";

    switch (language){
        case "en":
            console.log("LANGUAGE IS ENGLISH HIHI");
            headcontent = "I would now like to ask you a few short questions."
            subcontent = "Your answers will be used for research purposes.<br>Don't worry; it's anonymous, so nobody knows who you are!"
            yesButton.innerHTML = "Ok";
            noButton.innerHTML = "No, thank you."
            break; 
        case "pol":
            console.log("LANGUAGE IS POLISH HIHI");
            headcontent = "Czy mogę zadać Ci kilka krótkich pytań?"
            subcontent = "Twoje odpowiedzi zostaną wykorzystane do celów badawczych.<br>Proszę się nie martwić, są one anonimowe, więc nikt nie wie, kim jesteś!"
            yesButton.innerHTML = "Ok";
            noButton.innerHTML = "Nie, dziękuję.";
            break;
    }

    heading.innerHTML = headcontent;
    subheading.innerHTML = subcontent;

</script>

{% endblock %}