{% extends "questionnaire.html" %}
{% block page_name %}End{% endblock %}

{% block row1 %}
<form action="{{ url_for('handle_forms') }}" method="post">
    <p>
        <input type="hidden" name="answer" value="restart">

    </p>
    <p>
        <button id="button" type="submit" class="btn btn-light">
        </button>
    </p>
</form>
{% endblock %}
{% block script %}

<script>

    let language = '{{ language }}';

    console.log("LANGUAGE" + language);

    var subheading = document.getElementById("subheading");
    var button = document.getElementById("button");


    subheadingString = "";
    buttonString = "";

    switch (language){
        case "en":
        console.log("LANGUAGE IS ENGLISH HIHI");
        subheadingString = "Thank you very much! I hope you had fun";
        buttonString = "Restart";
        break; 
        case "pol":
        console.log("LANGUAGE IS POLISH");
        subheadingString = "Dziękuję!!";
        buttonString = "Powtarzać";
        break;
    }

    subheading.innerHTML = subheadingString;
    button.innerHTML = buttonString;

</script>
{% endblock %}