{% extends "base.html" %}
{% block page_name %}Introduction to the interaction
{% endblock %}

{% block script %}

{% block row2 %}
<div id="cta" class="column d-flex justify-content-center">
    <form action="{{ url_for('handle_forms') }}" method="post">
        <p>
            <input type="hidden" name="answer" value="11">
        </p>
        <p>
            <button id="button" type="submit" class="btn btn-light nextButton">
            </button>
        </p>
    </form>
</div>
{% endblock %}

<script>

let subheading = document.getElementById('subheading');
let heading = document.getElementById('heading');
let keyboard = document.getElementById('keyboard');
let button = document.getElementById('button');

let language = '{{ language }}';
    console.log("LANGUAGE" + language);

    var headcontent = "";
    var subcontent = "";

    switch (language){
        case "en":
            console.log("LANGUAGE IS ENGLISH HIHI");
            headcontent = "Hey, I am YVES!"
            subcontent = "Some computer systems can recognize objects using machine learning. <br> For this, people need to train them. I can show you how! <br><br><br> See the toys on the table? <br> Choose one to put in my belly and press ‘Start.’"
            button.innerHTML = "Next";
            break; 
        case "de":
            console.log("LANGUAGE IS GERMAN HIHI");
            headcontent = "Hey, ich bin YVES!"
            subcontent = "Manche Computer Systeme können mit machine learning objekte erkennen, <br> blabliblu"
            button.innerHTML = "Weiter";
            break;
        case "rus":
            console.log("LANGUAGE IS RUSSIAN HIHI");
            headcontent = "russian"
            subcontent = "russian"
            button.innerHTML = "russian";
            break;
        case "pol":
            console.log("LANGUAGE IS POLISH HIHI");
            headcontent = "polish"
            subcontent = "polish"
            button.innerHTML = "polish";
            break;
    }

    heading.innerHTML = headcontent;
    subheading.innerHTML = subcontent;

</script>

{% endblock %}