{% extends "questionnaire.html" %}

{% block row1 %}
    <form action="{{ url_for('questionnaire1') }}" method="post">
        <p>
            <input type="hidden" name="answer" value="3-A">
        </p>
        <p>
            <button id="b1" type="submit" class="nextButton btn btn-light ">
            </button>
        </p>
    </form>
{% endblock %}

{% block row2 %}
    <form action="{{ url_for('questionnaire1') }}" method="post">
        <p>
            <input type="hidden" name="answer" value="3-B">
        </p>
        <p>
            <button id="b2" type="submit" class="nextButton btn btn-light ">
            </button>
        </p>
    </form>

{% endblock %}

{% block row3 %} 
     <form action="{{ url_for('questionnaire1') }}" method="post">
        <p>
            <input type="hidden" name="answer" value="3-C">
        </p>
        <p>
            <button id="b3" type="submit" class="nextButton btn btn-light ">
            </button>
        </p>
    </form>
{% endblock %}


{% block script %}

<script>

    let language = '{{ language }}';

    console.log("LANGUAGE" + language);

    var question = document.getElementById("heading");

    var b1 = document.getElementById("b1");
    var b2 = document.getElementById("b2");
    var b3 = document.getElementById("b3");


    var questionString = "";
    var answer_one_String = "";
    var answer_two_String = "";
    var answer_three_String = "";


    switch (language){
        case "en":
        console.log("LANGUAGE IS ENGLISH HIHI");
        questionString = "What did you just learn that helps me to recognize the toy?";
        answer_one_String = "Change of Position & Rotation "
        answer_two_String = "Zoom & Rotation";
        answer_three_String = "Change of Position & Zoom";
    
        break; 
        case "pol":
        console.log("LANGUAGE IS POLISH");
        questionString = "Która z przed chwilą robionych czynności pomaga mi rozpoznać zabawkę?";
        answer_one_String = "Zmiana pozycji i obrót";
        answer_two_String = "Powiększanie i obracanie";
        answer_three_String = "Przesunięcie i powiększenie";
     
        break;
    }

    question.innerHTML = questionString;
    b1.innerHTML = answer_one_String;
    b2.innerHTML = answer_two_String;
    b3.innerHTML = answer_three_String;
 

</script>

{% endblock %}
